nav.navbar.border-bottom
  .container
    a.navbar-brand(href="/")
      | The test project on Laravel
    span.navbar-text.ms-auto
      | Hello
    ul.navbar-nav.ms-3
      li.nav-item
        a.nav-link(href="/logout")
          | Logout
